.sliders{
	
	text-align:center
}

.range{
	text-align: center;
}
body{
	margin-left: 100px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
}
h1{
	font-family: 'Dosis', sans-serif;
	font-size: 30px;
	margin-bottom: 80px;
}

.tooltip {
  border-bottom: 1px dotted #000000;
  color: #000000; outline: none;
  cursor: help; text-decoration: none;
  position: relative;
}
.tooltip span {
  margin-left: -999em;
  position: absolute;
}
.details{
	float: left;
	margin: 10px;
}
.main-description {
	width:350px;
}
.other {
	float: left;
}

----------
.button{
width:100px;
height:100px;
display:block;
border-radius:50px;
-moz-border-radius:50px;
-webkit-border-radius:50px;
-khtml-border-radius:50px;
font-size:20px;
color:#fff;
line-height:100px;
text-align:center;
background:#000}

#circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}